<app-header></app-header>
<div class="parent">
    <mat-card>
        <div class="form-options">
            <mat-form-field>
                <mat-select [(ngModel)]="organizationId" *ngIf="companiesLoaded" placeholder="Companies"
                            name="organization" required (selectionChange)="loadClientOrganization()">
                    <mat-option [value]="org.organization_id"
                                *ngFor="let org of organizations">{{org.name}}</mat-option>
                </mat-select>
                <mat-label><b>Organization</b></mat-label>
            </mat-form-field>
            <mat-form-field>
                <mat-select [(ngModel)]="clientId" *ngIf="companiesLoaded" placeholder="Companies"
                            name="organization" required>
                    <mat-option [value]="client.client_id"
                                *ngFor="let client of clients">{{client.clientName}}</mat-option>
                </mat-select>
                <mat-label><b>Client</b></mat-label>
            </mat-form-field>
        </div>
        <h4 style="color:#002d62; margin:8px; text-align: center;">Offset History</h4>
        <div class="example-container mat-elevation-z8">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="client">
                        <div *matHeaderCellDef>Client</div>
                        <div *matCellDef="let customer">{{customer.clientName}}</div>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <div *matHeaderCellDef>Date</div>
                        <div class="description-cell"
                             *matCellDef="let customer">{{customer.clientId}}</div>
                    </ng-container>

                    <ng-container matColumnDef="wireOffset">
                        <div *matHeaderCellDef>Wire Offset</div>
                        <div class="duration-cell"
                             *matCellDef="let customer">{{customer.processed}}</div>
                    </ng-container>

                    <ng-container matColumnDef="arOffset">
                        <div *matHeaderCellDef>AR Offset</div>
                        <div class="duration-cell"
                             *matCellDef="let customer">{{customer.description}}</div>
                    </ng-container>

                    <ng-container matColumnDef="creator">
                        <div *matHeaderCellDef>Creator</div>
                        <div class="duration-cell"
                             *matCellDef="let customer">{{customer.pa}}</div>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                    <!-- <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row> -->
                    <mat-row *matRowDef="let row; columns: displayedColumns;"
                             [ngClass]="{'highlight': selectedRowIndex == row.clientId}"
                             (click)="highlight(row)">
                    </mat-row>
                </table>
            </div>
        </div>
        <h4 style="color:#002d62; margin:8px; text-align: center;">Create / Change Offset</h4>
        <br/>
        <h4 style="color:#002d62; margin:8px; text-align: center;">note: a positive number will offset NSF's whereby
            a
            negative number will increase the NSF's</h4>
        <mat-form-field>
            <input matInput placeholder="Offset Wire" [(ngModel)]="offset.wire_offset_amt" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Accounts Receivable" [(ngModel)]="offset.ar_offset_amt" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="offset.offset_date"
                   [matDatepicker]="picker1" placeholder="Offset Date" required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker1></mat-datepicker>
        </mat-form-field>

        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="saveOffset()">Submit</button>
            <button mat-raised-button color="primary">New</button>
            <button mat-raised-button color="primary">Delete</button>
        </div>

    </mat-card>
</div>
