<app-header></app-header>
<mat-progress-bar *ngIf="loading " mode="indeterminate" color="primary"></mat-progress-bar>

<div class="parent">


  <mat-card class="card">

      <form  (ngSubmit)="run()"  class="form-container" [formGroup]="options">

              <div class="" style="margin: auto;width:100%; text-align: center; margin: auto;">
                <img  style="width:10%;height:auto;" src="assets/img/time.svg" alt="FMA">
              </div>
              <h1 style="color:#002d62; margin:8px;">SPLIT TIME REPORT</h1>

          <div class="form-options">



              <mat-form-field>
                  <input [(ngModel)]="splittime.initiatedDateTimeBegin" formControlName="startDate" matInput [matDatepicker]="picker1" placeholder="start date" required>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker touchUi  #picker1></mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                  <input [(ngModel)]="splittime.initiatedDateTimeEnd" formControlName="endDate" matInput [matDatepicker]="picker2" placeholder="end date" required>
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker touchUi  #picker2></mat-datepicker>
              </mat-form-field>
          </div>


          <div class="example-button-row">
                <button (onclick)="run()" mat-raised-button color="primary">Run</button>
            </div>

      </form>



  </mat-card>


  </div>
