.parent{
    padding:4%;
    font-family: OpenSans;
    $bg-color: rgb(240, 230, 221);
    $dot-color: rgb(229, 178, 155);
    // Dimensions
    $dot-size: 2px;
    $dot-space: 22px;
  
.card{
    /*background:
  linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
  linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,$dot-color;
  background-size: $dot-space $dot-space;*/
  background-image: linear-gradient(-60deg, #e2e0e0 50%, #fff 50%);
 
}    
    
.altern{
  animation:slide 3s ease-in-out infinite alternate;

}
.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  
   .mat-card form .mat-form-field {
    width: 100%;
    display: block;
  }
  
  .form-container form {
    margin-bottom: 20px;
    width: 100%;
    
  }
  
  h1 {
    text-align: center !important;
    margin: auto !important;
    font-weight: normal !important;
    color:#3d3d3d;
    
  }

  
  .form-container .mat-checkbox {
    margin: 0 12px;
  }

  .mat-form-field{
      margin: 7px;
  }

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-button-row {
  width: 60%;
  margin: auto;
  text-align: center;

  
}

.example-button-row button {
  width: 60%;
  margin: auto;
  border-radius: 30px !important;
  color: rgb(236, 91, 7);
  font-size: 1.3em;
	cursor: pointer;
	border: 2px solid rgb(236, 91, 7);
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  
  
}


.example-button-row button:hover {
  background-color:  rgb(236, 91, 7);
  color: #fff;
  
}

.mat-card{
  width: 60%;
  margin: auto;

}

button{
  width: 15%;
  height: 50px;
}



@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


@keyframes slide {
  0% {
    transform:translateX(-5%);
  }
  100% {
    transform:translateX(5%);
  }
}







}

