<app-header></app-header>
<div class="parent">
    <mat-card>
        <h3 style="color:#002d62; margin:8px; text-align: center;">QuickBook Balancing application</h3>
        <div class="form-options">
            <mat-form-field>
                <mat-select [(ngModel)]="organizationId" *ngIf="companiesLoaded" placeholder="Companies"
                            name="organization" required (selectionChange)="loadClientOrganization()">
                    <mat-option [value]="company.organization_id"
                                *ngFor="let company of companies">{{company.name}}</mat-option>
                </mat-select>
                <mat-label><b>Organizations</b></mat-label>
            </mat-form-field>
            <div class="example-container mat-elevation-z8">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">

                        <ng-container matColumnDef="clientName">
                            <div *matHeaderCellDef>Client Name</div>
                            <div *matCellDef="let customer">{{customer.clientName}}</div>
                        </ng-container>

                        <ng-container matColumnDef="clientId">
                            <div *matHeaderCellDef>Client Id</div>
                            <div class="description-cell"
                                 *matCellDef="let customer">{{customer.clientId}}</div>
                        </ng-container>

                        <ng-container matColumnDef="processed">
                            <div *matHeaderCellDef>Processed</div>
                            <div class="duration-cell"
                                 *matCellDef="let customer">{{customer.processed}}</div>
                        </ng-container>

                        <ng-container matColumnDef="description">
                            <div *matHeaderCellDef>Description</div>
                            <div class="duration-cell"
                                 *matCellDef="let customer">{{customer.description}}</div>
                        </ng-container>

                        <ng-container matColumnDef="pa">
                            <div *matHeaderCellDef>PA</div>
                            <div class="duration-cell"
                                 *matCellDef="let customer">{{customer.pa}}</div>
                        </ng-container>

                        <ng-container matColumnDef="pd">
                            <div *matHeaderCellDef>PD</div>
                            <div class="duration-cell"
                                 *matCellDef="let customer">{{customer.pd}}</div>
                        </ng-container>


                        <ng-container matColumnDef="ra">
                            <div *matHeaderCellDef>RA</div>
                            <div class="duration-cell"
                                 *matCellDef="let customer">{{customer.ra}}</div>
                        </ng-container>

                        <ng-container matColumnDef="rd">
                            <div *matHeaderCellDef>RD</div>
                            <div class="duration-cell"
                                 *matCellDef="let customer">{{customer.rd}}</div>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                        <!-- <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row> -->
                        <mat-row *matRowDef="let row; columns: displayedColumns;"
                                 [ngClass]="{'highlight': selectedRowIndex == row.clientId}"
                                 (click)="highlight(row)">
                        </mat-row>
                    </table>
                </div>

                <mat-tab-group>
                    <mat-tab label="Paid Agency (PA)">
                        <br/>
                        <br/>
                        <mat-radio-group class="tp-radio-group" [(ngModel)]="clientWirePA">
                            <mat-radio-button class="tp-radio-button"
                                              *ngFor="let cw of clientWireTypePA"
                                              [value]="cw"
                            >
                                {{cw}}&nbsp;
                                &nbsp;
                            </mat-radio-button>

                        </mat-radio-group>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-checkbox [(ngModel)]="pa_subtract_tax">
                            Substract Sales Tax
                        </mat-checkbox>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-group [(ngModel)]="accountsReceivablePA" class="tp-radio-group">
                            <mat-checkbox [(ngModel)]="pa_ar_add_fees">
                                Add Fees
                            </mat-checkbox>
                            <mat-checkbox [(ngModel)]="pa_ar_add_tax">
                                Add Sales Tax
                            </mat-checkbox>
                        </mat-radio-group>
                    </mat-tab>
                    <mat-tab label="Nsf Agency (RA)">
                        <br/>
                        <br/>
                        <mat-radio-group class="tp-radio-group" [(ngModel)]="clientWireRA">
                            <mat-radio-button class="tp-radio-button"
                                              *ngFor="let cw of clientWireTypeRA"
                                              [value]="cw"
                            >
                                <span *ngIf="!cw.indexOf('Substract')" style="color: red;">{{cw}}</span>
                                <span *ngIf="cw.indexOf('Substract')">{{cw}}</span>
                                &nbsp;
                            </mat-radio-button>

                        </mat-radio-group>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-group>
                            <mat-checkbox [(ngModel)]="ra_subtract_net">
                                Add Sales Tax
                            </mat-checkbox>
                        </mat-radio-group>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-group class="tp-radio-group">
                            <mat-checkbox [(ngModel)]="ra_ar_add_gross" (click)="checkRaArAddGross()">
                                Add Gross
                            </mat-checkbox>
                            <mat-checkbox [(ngModel)]="ra_ar_add_net" (click)="checkRaArAddNet()">
                                Add Net
                            </mat-checkbox>
                        </mat-radio-group>
                        &nbsp;&nbsp;
                        <mat-radio-group class="tp-radio-group">
                            <mat-checkbox [(ngModel)]="ra_ar_subtract_fee" (click)="checkRaArSubtractFee()">
                                <span style="color: red;">Substract Fees</span>
                            </mat-checkbox>
                            <mat-checkbox [(ngModel)]="ra_ar_subtract_tax">
                                <span style="color: red;">Substract Sales Tax</span>
                            </mat-checkbox>
                        </mat-radio-group>
                    </mat-tab>
                    <mat-tab label="Paid Client (PD)">
                        <br/>
                        <br/>
                        <mat-radio-group class="tp-radio-group">
                            <mat-checkbox class="tp-radio-button"
                                          [(ngModel)]="pd_subtract_fee">
                                >
                                <span style="color: red;">Substract Fee</span>&nbsp;
                                &nbsp;
                            </mat-checkbox>

                        </mat-radio-group>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-group>
                            <mat-checkbox
                                    [(ngModel)]="pd_subtract_tax"
                            >
                                <span style="color: red;">Substract Sales Tax</span>&nbsp;
                                &nbsp;
                            </mat-checkbox>
                        </mat-radio-group>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-group class="tp-radio-group">
                            <mat-checkbox [(ngModel)]="pd_ar_add_fee">
                                Add Fees
                            </mat-checkbox>
                            <mat-checkbox [(ngModel)]="pd_ar_add_tax">
                                Add Sales Tax
                            </mat-checkbox>
                        </mat-radio-group>
                    </mat-tab>
                    <mat-tab label="Nsf Client (RD)">
                        <br/>
                        <br/>
                        <mat-radio-group class="tp-radio-group"
                        >
                            <mat-checkbox class="tp-radio-button"
                                          [(ngModel)]="rd_add_fee">
                                Add Fee
                                &nbsp;
                            </mat-checkbox>

                        </mat-radio-group>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-group>
                            <mat-checkbox
                                    [(ngModel)]="rd_add_tax"
                            >
                                Add Sales Tax
                                &nbsp;
                            </mat-checkbox>
                        </mat-radio-group>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-group class="tp-radio-group">
                            <mat-checkbox [(ngModel)]="rd_ar_subtract_fee">
                                <span style="color: red;">Substract Fees</span>
                            </mat-checkbox>
                            <mat-checkbox [(ngModel)]="rd_ar_subtract_tax">
                                <span style="color: red;">Substract Sales Tax</span>
                            </mat-checkbox>
                        </mat-radio-group>
                    </mat-tab>
                </mat-tab-group>
                <br/>
                <br/>
                <mat-checkbox (change)="applyToAllClientOnChanged()" [(ngModel)]="applyToAllClient">
                    Apply to all clients
                </mat-checkbox>
                <div class="example-button-row">
                    <button mat-raised-button color="primary" (click)="storeClientInfo()">Store Client Info
                    </button>
                    <button mat-raised-button color="primary"(click)="printProcInstr()">Print Proc Instr</button>
                    <button mat-raised-button color="primary" (click)="goToCreateReport()">Create Report</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>
