<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BackOfficeAndReport</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/assets/logo.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/assets/styles.6931065d4ae2b46f4fc0.css"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="/assets/runtime.26209474bfa8dc87a77c.js"></script><script type="text/javascript" src="/assets/es2015-polyfills.c5dd28b362270c767b34.js" nomodule></script><script type="text/javascript" src="/assets/polyfills.8bbb231b43165d65d357.js"></script><script type="text/javascript" src="/assets/main.638d40b79822ac5f446a.js"></script></body>
</html>
