<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>{{data.content}}</p>
  <mat-spinner diameter="60" strokeWidth="4"  style="margin: auto; text-align: center;" *ngIf="data.showLoader"></mat-spinner>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">cancel</button>
  <button mat-button [mat-dialog-close]="data" *ngIf="!data.showLoader" cdkFocusInitial>Ok</button>
</div>

