.parent {
  .example-container {
    height: 100%;
    overflow: auto;

    div {
      width: 100%;
    }
  }


  table {
    width: 100%;
  }


  //padding: 2%;
  margin-right: 2%;
  margin-left: 2%;

  font-family: OpenSans;
  $bg-color: rgb(221, 229, 240);
  $dot-color: rgb(155, 186, 229);

  // Dimensions
  $dot-size: 2px;
  $dot-space: 22px;

  background-repeat: no-repeat;


  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .mat-card form .mat-form-field {
    width: 100%;
    display: block;
  }

  .form-container form {
    margin-bottom: 20px;
    width: 100%;

  }

  h1 {
    text-align: center !important;
    margin: auto !important;
    font-weight: normal !important;
    color: #3d3d3d;

  }


  .form-container .mat-checkbox {
    margin: 0 12px;
  }

  .mat-form-field {
    margin: 7px;
  }
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
  }

  .example-button-row {
    width: 60%;
    margin: auto;
    text-align: center;

  }

  .example-button-row button {
    width: 33%;
    margin: auto;
    border-radius: 30px !important;
    color: rgb(236, 91, 7);
    font-size: 1.3em;
    cursor: pointer;
    border: 2px solid rgb(236, 91, 7);
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

  }


  .example-button-row button:hover {
    background-color:  rgb(236, 91, 7);
    color: #fff;

  }

  .mat-card{
    width: 60%;
    margin: auto;
    background-image: linear-gradient(-60deg, #e2e0e0 50%, #fff 50%);

    /* background:
          linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
          linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,$dot-color;
      background-size: $dot-space $dot-space; */
  }

  button{
    width: 15%;
    height: 50px;
  }




  .pie {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #002d62;
    background-image: linear-gradient(to right, transparent 50%, currentColor 0);
    color: rgb(243, 99, 3);
  }

  .pie::before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    animation: spin 3s linear infinite, bg 6s step-end infinite;
  }

  .tp-radio-group {
    display: inline-flex;
    flex-direction: row;
  }

  .tp-radio-button {
    margin: 5px;
  }

  .highlight{
    background: green;
  }

  .tp-button-row button,
  .tp-button-row a {
    margin-right: 8px;
  }

  .mat-column-select {
    overflow: initial;
  }

  .mat-form-field {
    width: 100%;
    display: block;
  }

  @keyframes spin {
    to {
      transform: rotate(.5turn);
    }
  }
  @keyframes bg {
    50% {
      background: currentColor;
    }
  }


  @-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  @-moz-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

}

