<app-header></app-header>
<div class="parent">
    <mat-card>
        <h4 style="color:#002d62; margin:8px; text-align: center;">I want to</h4>
        <div class="form-options">
            <mat-radio-group class="tp-radio-group" [(ngModel)]="quickBookBalancingReportInputData.iWantTo">
                <mat-radio-button class="tp-radio-button"
                                  *ngFor="let cw of iWantToType"
                                  [value]="cw.index"
                >
                    {{cw.value}}
                </mat-radio-button>

            </mat-radio-group>
            <div class="example-button-row">
                <button mat-raised-button color="primary" (click)="difference()">Difference</button>
            </div>
        </div>
        <h4 style="color:#002d62; margin:8px; text-align: center;">Data Selection Range</h4>
        <div class="form-options">
            <mat-form-field>
                <input matInput [(ngModel)]="quickBookBalancingReportInputData.startDate"
                       [matDatepicker]="picker1" placeholder="from" required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="quickBookBalancingReportInputData.stopDate"
                       [matDatepicker]="picker2" placeholder="to" required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker2></mat-datepicker>
            </mat-form-field>
            <mat-radio-group class="tp-radio-group" [(ngModel)]="quickBookBalancingReportInputData.dataSelectionRange">
                <mat-radio-button class="tp-radio-button"
                                  *ngFor="let cw of dataSelectionRangeType"
                                  [value]="cw.index"
                >
                    {{cw.value}}
                </mat-radio-button>

            </mat-radio-group>
            <mat-form-field>
                <mat-select [(ngModel)]="quickBookBalancingReportInputData.organizationId" *ngIf="companiesLoaded" placeholder="Companies"
                            name="organization" required (selectionChange)="loadClientOrganization()">
                    <mat-option [value]="company.organization_id"
                                *ngFor="let company of companies">{{company.name}}</mat-option>
                </mat-select>
                <mat-label><b>Organizations</b></mat-label>
            </mat-form-field>
            <mat-checkbox (change)="allOrganizationsChanged()" [(ngModel)]="quickBookBalancingReportInputData.allOrganizations">
                All Organizations
            </mat-checkbox>
        </div>
        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="createReport()">Create Report</button>
            &nbsp;&nbsp;
            <button mat-raised-button color="primary" (click)="goToCreateOffset()">Create Offset</button>
        </div>
    </mat-card>
</div>
