<app-header></app-header>
<mat-progress-bar *ngIf="loading || loadingComp" mode="indeterminate" color="primary"></mat-progress-bar>
<h5 *ngIf="loadingComp" style="margin: center; text-align:center;">loading organization list... </h5>
<div class="parent">

<mat-card>

    <form  (ngSubmit)="run()"  class="form-container" [formGroup]="options">

            <h1 style="color:#002d62; margin:8px;">Trust Balancing application</h1>
            <br>
            <div class="pie" style="text-align: center; margin: auto;"></div>

        <div class="form-options">
    
            <mat-form-field>
                <mat-select [(ngModel)]="trustIput.organizationList" *ngIf="companiesLoaded" placeholder="Companies" formControlName="comp"  multiple required>
                  <mat-option value="{{company}}" *ngFor="let company of companies">{{company}}</mat-option>
                </mat-select>
                <mat-label><b>Organizations</b> </mat-label>
        
            </mat-form-field>
        
            <br>
        

            <!-- <div class="form-space">
            
                <mat-checkbox [(ngModel)]="trustIput.displayRecovererCodeTotals"  formControlName="totals">Display Recoverer Code Totals</mat-checkbox>
        
            </div>
            <div class="form-space">
                    <mat-checkbox [(ngModel)]="trustIput.matchData" formControlName="match">Attempt Match</mat-checkbox>
        
            </div>
        
            <div class="form-space">
                <mat-checkbox [(ngModel)]="trustIput.showClientAccountNums" formControlName="acct">Show client Acct Num</mat-checkbox>
        
            </div>
        
            <div class="form-space">
                <mat-checkbox [(ngModel)]="trustIput.disableMatchPossibleDebtors" formControlName="debtors">Match Possible Debtors</mat-checkbox>
        
            </div> -->
        
                <br/>
        
        
        
            <mat-form-field>
                <input [(ngModel)]="trustIput.beginDateRange" formControlName="startDate" matInput [matDatepicker]="picker1" placeholder="start date" required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker touchUi  #picker1></mat-datepicker>
            </mat-form-field>
        
            <mat-form-field>
                <input [(ngModel)]="trustIput.endDateRange" formControlName="endDate" matInput [matDatepicker]="picker2" placeholder="end date" required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker touchUi  #picker2></mat-datepicker>
            </mat-form-field>
            <br/>
            <!-- <mat-form-field >
                <input [(ngModel)]="trustIput.findAmounts" formControlName="amount" matInput placeholder="Amount" value="0" required>
            </mat-form-field> -->
        </div>
    
        <div class="example-button-row">
            <button (onclick)="run()" mat-raised-button color="primary">Run</button>
        </div>
    </form>



</mat-card>


</div>