/* You can add global styles to this file, and also import other style files */

$bgcolor: #FFEFC3;
$transparent: rgba(255, 255, 255, 0);

$color-1: transparentize(#FFEFC3, .6);
$color-2: transparentize(#E8DE67, .6);
$color-3: transparentize(#C0CCAB, .5);
$color-4: transparentize(#E57152, .8);

$size: 7em;
$big-size: $size*2;

@font-face {
    font-family: OpenSans;
    src: url(assets/fonts/OpenSans-Light.ttf);
}


@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';
@include mat-core();


$brand-blue: (
  50: #002d62,
  100: #002d62,
  200: #002d62,
  300: #002d62,
  400: #002d62,
  500: #002d62,
  600: #002d62,
  700: #002d62,
  800: #002d62,
  900: #002d62,
  A100: #002d62,
  A200: #002d62,
  A400: #002d62,
  A700: #002d62,
  contrast: (
          500: white,
          600: white,
          700: white,
          800: white,
          900: white,
          A700: white,
  )
);


$my-app-primary: mat-palette($brand-blue,50,50,50) ;
$my-app-secondary: mat-palette($mat-deep-orange);
$my-app-accent:  mat-palette($mat-deep-orange, 800, 900, A100);
$my-app-warn:    mat-palette($mat-red);


/* $my-app-primary: #002d62;
$my-app-accent:  #eb6e1f;
$my-app-warn:    rgb(134, 29, 29); */
$theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($theme);
@include mat-core-theme($theme);
@include mat-autocomplete-theme($theme);
@include mat-button-theme($theme);
@include mat-button-toggle-theme($theme);
@include mat-card-theme($theme);
@include mat-checkbox-theme($theme);
@include mat-chips-theme($theme);
@include mat-datepicker-theme($theme);
@include mat-dialog-theme($theme);
@include mat-grid-list-theme($theme);
@include mat-icon-theme($theme);
@include mat-input-theme($theme);
@include mat-list-theme($theme);
@include mat-menu-theme($theme);
@include mat-progress-bar-theme($theme);
@include mat-progress-spinner-theme($theme);
@include mat-radio-theme($theme);
@include mat-select-theme($theme);
@include mat-sidenav-theme($theme);
@include mat-slide-toggle-theme($theme);
@include mat-slider-theme($theme);
@include mat-tabs-theme($theme);
@include mat-toolbar-theme($theme);
@include mat-tooltip-theme($theme);

html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", sans-serif; 
    background-color: #eee;

}


.mat-progress-bar-fill::after {
  background-color: #056be0;
  }



  
/* :root {
  --primary-color: #FF8400; // white
  --background-color: #e5e5e5; // light grey
  --text-color: #002d62; // dark grey
} */

  .card.card-cascade .view.gradient-card-header {
    padding: 1rem 1rem;
    text-align: center;
  }
  
  .card.card-cascade h3,.card.card-cascade h4{margin-bottom: 0px;}
  
  .blue-gradient {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
    background: linear-gradient(40deg, #45cafc, #4285f4);
  }
  
  .sidebar-fixed {
    height: 100vh;
    width: 270px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    z-index: 1050;
    background-color: #fff;
    padding: 0 1.5rem 1.5rem
  }
  
  .sidebar-fixed .list-group .active {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -webkit-border-radius: 5px;
    border-radius: 5px
  }
  
  .sidebar-fixed .logo-wrapper {
    padding: 2.5rem
  }
  
  .sidebar-fixed .logo-wrapper img {
    max-height: 50px
  }
  
  @media (min-width: 1200px) {
    .navbar, .page-footer, main {
      padding-left: 270px
    }
  }
  
  @media (max-width: 1199.98px) {
    .sidebar-fixed {
      display: none
    }
  }


  body{
    background-color: rgba(226, 225, 225, 0.623);
    background-image:
      linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
      linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
      linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  }

  