/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: OpenSans;
    src: url(assets/fonts/OpenSans-Light.ttf);
}


@import '~@angular/material/theming';

@include mat-core();
@include angular-material-theme($theme);
@include mat-core-theme($theme);
@include mat-autocomplete-theme($theme);
@include mat-button-theme($theme);
@include mat-button-toggle-theme($theme);
@include mat-card-theme($theme);
@include mat-checkbox-theme($theme);
@include mat-chips-theme($theme);
@include mat-datepicker-theme($theme);
@include mat-dialog-theme($theme);
@include mat-grid-list-theme($theme);
@include mat-icon-theme($theme);
@include mat-input-theme($theme);
@include mat-list-theme($theme);
@include mat-menu-theme($theme);
@include mat-progress-bar-theme($theme);
@include mat-progress-spinner-theme($theme);
@include mat-radio-theme($theme);
@include mat-select-theme($theme);
@include mat-sidenav-theme($theme);
@include mat-slide-toggle-theme($theme);
@include mat-slider-theme($theme);
@include mat-tabs-theme($theme);
@include mat-toolbar-theme($theme);
@include mat-tooltip-theme($theme);


$brand-blue: (
  50: #002d62,
  100: #002d62,
  200: #002d62,
  300: #002d62,
  400: #002d62,
  500: #002d62,
  600: #002d62,
  700: #002d62,
  800: #002d62,
  900: #002d62,
  A100: #002d62,
  A200: #002d62,
  A400: #002d62,
  A700: #002d62,
  contrast: (
          500: white,
          600: white,
          700: white,
          800: white,
          900: white,
          A700: white,
  )
);


$my-app-primary: mat-palette($brand-blue,50,50,50) ;
$my-app-secondary: mat-palette($mat-deep-orange);
$my-app-accent:  mat-palette($mat-deep-orange, 800, 900, A100);
$my-app-warn:    mat-palette($mat-red);

$theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);


html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", sans-serif; 
    background-color: #eee;

}

  
/* :root {
  --primary-color: #FF8400; // white
  --background-color: #e5e5e5; // light grey
  --text-color: #002d62; // dark grey
} */

  .card.card-cascade .view.gradient-card-header {
    padding: 1rem 1rem;
    text-align: center;
  }
  
  .card.card-cascade h3,.card.card-cascade h4{margin-bottom: 0px;}
  
  .blue-gradient {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
    background: linear-gradient(40deg, #45cafc, #4285f4);
  }
  
  .sidebar-fixed {
    height: 100vh;
    width: 270px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    z-index: 1050;
    background-color: #fff;
    padding: 0 1.5rem 1.5rem
  }
  
  .sidebar-fixed .list-group .active {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -webkit-border-radius: 5px;
    border-radius: 5px
  }
  
  .sidebar-fixed .logo-wrapper {
    padding: 2.5rem
  }
  
  .sidebar-fixed .logo-wrapper img {
    max-height: 50px
  }
  
  @media (min-width: 1200px) {
    .navbar, .page-footer, main {
      padding-left: 270px
    }
  }
  
  @media (max-width: 1199.98px) {
    .sidebar-fixed {
      display: none
    }
  }


  