<app-header></app-header>
<div class="parent" style="text-align: center;">
    <h1 style="text-align: center;">Trust balancing Result</h1>
    <button (click)="seeTrust()" style="width:15rem;height:4.2rem;" mat-raised-button color="primary">See trust results</button>

    <!-- <div class="example-container mat-elevation-z8">

            <mat-grid-list  [cols]="2" rowHeight="1:1">
                    <mat-grid-tile>
                        <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">

                        <!-- Position Column 
                        <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>

                        <!-- Name Column
                        <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Weight Column 
                        <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef> Weight </th>
                        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                        </ng-container>

                        <!-- Symbol Column 
                        <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef> Symbol </th>
                        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20,50,100]" showFirstLastButtons></mat-paginator>

                    </div>
                                        
                    </mat-grid-tile>


                    <mat-grid-tile>
                            <div class="mat-elevation-z8">
                                    <table mat-table [dataSource]="dataSource">
                                  
                                      <!-- Position Column 
                                      <ng-container matColumnDef="position">
                                        <th mat-header-cell *matHeaderCellDef> No. </th>
                                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                      </ng-container>
                                  
                                      <!-- Name Column 
                                      <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef> Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                      </ng-container>
                                  
                                      <!-- Weight Column 
                                      <ng-container matColumnDef="weight">
                                        <th mat-header-cell *matHeaderCellDef> Weight </th>
                                        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                                      </ng-container>
                                  
                                      <!-- Symbol Column 
                                      <ng-container matColumnDef="symbol">
                                        <th mat-header-cell *matHeaderCellDef> Symbol </th>
                                        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                      </ng-container>
                                  
                                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                    <mat-paginator [pageSizeOptions]="[5, 10, 20,50,100]" showFirstLastButtons></mat-paginator>

                                  </div>
                        </mat-grid-tile>


            </mat-grid-list>



      </div> -->
</div>




