.parent{
    padding:2%;
    font-family: OpenSans;
    .example-container {
        height: 600px;
        overflow: auto;
        div{
            width: 100%;
        }
      }
      
      table {
        width: 100%;
      }


}
