.parent{
    padding:4%;
    font-family: OpenSans;
   
  
.card{
  background-image: linear-gradient(-60deg, #c0c0c0 50%, #fff 50%);
}    
    

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  
   .mat-card form .mat-form-field {
    width: 100%;
    display: block;
  }
  
  .form-container form {
    margin-bottom: 20px;
    width: 100%;
    
  }
  
 

  
  .form-container .mat-checkbox {
    margin: 0 12px;
  }

  .mat-form-field{
      margin: 7px;
  }

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-button-row {
  width: 60%;
  margin: auto;
  text-align: center;

  
}

.example-button-row button {
  width: 60%;
  margin: auto;
  border-radius: 30px !important;
  color: rgb(236, 91, 7);
  font-size: 1.3em;
	cursor: pointer;
	border: 2px solid rgb(236, 91, 7);
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  
}


.example-button-row button:hover {
  background-color:  rgb(236, 91, 7);
  color: #fff;
  
}

.mat-card{
  width: 60%;
  margin: auto;
}

button{
  width: 15%;
  height: 50px;
}

.mat-form-field{
        display: block;
        width: 50%;
        margin: auto;
}

}