<app-header></app-header>
<div class="parent" style="text-align: center;">
    <h1 style="text-align: center;">HealthCare result</h1>
    <button (click)="seeFiles()" style="width:15rem;height:4.2rem;" mat-raised-button color="primary">Get healthcare results</button>

    <br><br>
  
    <form  *ngIf="mustComment"  (ngSubmit)="comm()"  class="form-container" [formGroup]="options">

    <div class="form-options">
        <h3 style="color:#002e62e5; margin:8px;">Comments for healthcare repot file</h3>
    
        <mat-form-field>
            <textarea  formControlName="comm1" matInput  placeholder="Comment 1" required></textarea>
        </mat-form-field>

        <mat-form-field>
            <textarea  formControlName="comm2" matInput  placeholder="Comment 2" required></textarea>
        </mat-form-field>
    
        <mat-form-field>
            <textarea  formControlName="comm3" matInput  placeholder="Comment 3" required></textarea>
        </mat-form-field>

        <mat-form-field>
            <textarea  formControlName="comm4" matInput  placeholder="Comment 4" required></textarea>
        </mat-form-field>
        <br/>
    </div>

    <div class="example-button-row">
        <button (onclick)="comm()" >Add comments</button>
    </div>
    
</form>
</div>




