
.example-icon {
    padding: 0 5px;
  }
  
  .example-icon2{
      padding: 4px;
  }

  .example-spacer {
    flex: 1 1 auto;
}

.bar h6{
    font-family: OpenSans !important;
    font-size:1rem !important;

}

.logout, .mat-icon{
    cursor: pointer;
}