<mat-toolbar class="bar" color="primary" [class.mat-elevation-z2]="true">

    <mat-toolbar-row>
    
    <img  matTooltip="Previous page" style="width:20px;height:auto;cursor:pointer;" class="example-icon" (click) = "back()" src="./assets/img/left-arrow.svg"/>
    <img  matTooltip="Go back to home" style="width:30px;height:auto;cursor:pointer; margin-left:10px;" class="example-icon" (click) = "home()" src="./assets/img/home.svg"/>
      <!-- <h6>
          FMA alliance, &copy; 2019
      </h6> -->
      <span class="example-spacer"></span>
      <div style="text-align: center;">
            <mat-icon (click) = "logout()" class="example-icon2" aria-hidden="false" aria-label="User">person</mat-icon> 
            <h6 class="logout" (click) = "logout()" >
                {{currentUser.first_name}} {{currentUser.last_name}}
                ({{currentUser.username}})
            </h6> 
        </div>
    </mat-toolbar-row>

</mat-toolbar>
