<div class="parent">
    
        <mat-card>
    
                <form [formGroup]="loginForm" class="login100-form" (ngSubmit)="loginUser()">
                   
                <div style="margin: auto;width:100%; text-align: center; margin: auto;">
                          

                </div>
                <h2> 
                     Back Office and Reports Application
                </h2>
                <br>
                <mat-form-field >
                    <input  formControlName="username" matInput placeholder="UserName"required>
                </mat-form-field>
    
                <mat-form-field>
                        <input  matInput type="password" placeholder="Password" formControlName="password"required>
                </mat-form-field>
                <br>
                <div class="example-button-row">
                    <button mat-raised-button color="primary">Login</button>
                </div>
                </form>

        </mat-card>

</div>