.parent{
  padding-top: 8vh;
  font-family: OpenSans;
  background-color: #dee2e6;
  color: #002d62;
  height: 92vh !important;
  background-image: url("../../assets/img/back2.jpg") ; 
  background-repeat: no-repeat;

  .log-button{
    background: #002d62;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .mat-card{
    background-color: rgba(255, 255, 255,.7);
  
  }
  
   .mat-card form .mat-form-field {
    width: 100%;
    display: block;
  }
  
  .form-container form {
    margin-bottom: 20px;
    width: 100%;
    
  }
  
  h1,h2,h3,h4{
    text-align: center !important;
    margin: auto !important;
    font-weight: normal !important;
    
  }
  
  
  .form-container .mat-checkbox {
    margin: 0 12px;
  }
  
  .mat-form-field{
      margin: 7px;
  }
  
  
  .example-button-row button {
    width: 100%;
    border-radius: 30px !important;
    color: rgb(236, 91, 7);
    font-size: 1.3em;
    cursor: pointer;
    border: 2px solid rgb(236, 91, 7);
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    
  }
  
  .mat-card{
  width: 23%;
  margin: auto;
  }
  
  button{
  width: 15%;
  height: 50px;
  }
  
  h1,h2,h3,h4{
    color: #002d62 !important;
  }
  
  
  @media (max-width: 961px){
    .mat-card{
      width: 80%;
      margin: auto;
      }
  }
  
  @media (min-width: 1025px){
    .mat-card{
      width: 30%;
      margin: auto;
      }
  }
  
  
  @media (min-width: 1080px){
    .mat-card{
      width: 25%;
      margin: auto;
      }
  }
  }
  
  
  
  



