
.parent{
    padding:4%;
    //overflow-x: hidden;
    font-family: OpenSans;
    font-weight: bold;
    text-align: center;
    .full-width{
        width: 40%;
        margin: auto;
    }


    .option-card{
        cursor: pointer;        
    }
    
    h1,h2,h3,h4{
        color: #002d62;
      }
      
  
    
}