<app-header></app-header>
<div class="parent">

        <!-- <mat-form-field class="full-width">
                <input matInput placeholder="Search" value="" matInput="search"
                [ngModel]="searchModel" 
                (ngModelChange)="updateSearch($event)"
                />
        </mat-form-field> -->
        <h1>Choose an option</h1>
        <mat-spinner diameter="60" strokeWidth="4"  style="margin: auto; text-align: center;" *ngIf="!optionLoaded"></mat-spinner>
        <h6 *ngIf="!optionLoaded">{{noOption}}</h6>

        <mat-grid-list style="width: 100%;" *ngIf="optionLoaded" [cols]="breakpoint" rowHeight="2:1" (window:resize)="onResize($event)" >
            <mat-grid-tile  *ngFor="let option of options ">
                <div class="option-card"  matRipple matRippleCentered="true" matRippleUnbounded="true" (click)="openOption(option.text)">

                    <div>
                        <img style="width: 50px; height: auto;" src="{{option.icon}}" alt=""/>
                    </div>
                    <p>
                        {{option.text}}
                    </p> 
                </div>
            </mat-grid-tile>
        </mat-grid-list>



<!--         <mat-grid-list cols="4" rowHeight="2:1" *ngIf="optionLoaded">

            
            <mat-grid-tile class="grid-tile"  *ngFor="let option of options ">
                <div class="option-card"  matRipple matRippleCentered="true" matRippleUnbounded="true" (click)="openOption(option.text)">

                    <div>
                        <img style="width: 50px; height: auto;" src="{{option.icon}}" alt=""/>
                    </div>
                    <p>
                        {{option.text}}
                    </p> 
                </div>
            </mat-grid-tile>
        </mat-grid-list> -->
</div>
