<app-header></app-header>
<mat-progress-bar *ngIf="loading || loadingComp" mode="indeterminate" color="primary"></mat-progress-bar>
<h5 *ngIf="loadingComp" style="margin: center; text-align:center;">loading organization list... </h5>

<div class="parent">
    

  <mat-card class="card">
  
      <form  (ngSubmit)="run()"  class="form-container" [formGroup]="options">
  
              <div class="altern" style="margin: auto;width:100%; text-align: center; margin: auto;">
                <img  style="width:10%;height:auto;" src="assets/img/hospital.svg" alt="FMA">  
              </div>
              <h1 style="color:#002d62; margin:8px;">MEDICAL ATB REPORT</h1>
  
          <div class="form-options">
      
              <mat-form-field>
                  <mat-select [(ngModel)]="healthInput.organizationId" *ngIf="companiesLoaded" placeholder="Companies" formControlName="comp"  required>
                    <mat-option value="{{company.organization_id}}"  *ngFor="let company of companies">{{company.name}}</mat-option>
                  </mat-select>
                  <mat-label><b>Organizations</b> </mat-label>
          
              </mat-form-field>
          
              <br/>
      
              <mat-form-field>
                  <input [(ngModel)]="healthInput.beginDateRange" formControlName="startDate" matInput [matDatepicker]="picker1" placeholder="start date" required>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker touchUi  #picker1></mat-datepicker>
              </mat-form-field>
          
              <mat-form-field>
                  <input [(ngModel)]="healthInput.endDateRange" formControlName="endDate" matInput [matDatepicker]="picker2" placeholder="end date" required>
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker touchUi  #picker2></mat-datepicker>
              </mat-form-field>
              <br/>

             <div class="form-space">
            
                <mat-checkbox [(ngModel)]="healthInput.showClients"  formControlName="showClients">Display Clients tabs</mat-checkbox>
        
            </div>

            <br/>
          </div>
      

          <div class="example-button-row">
                <button (onclick)="run()" mat-raised-button color="primary">Run</button>
            </div>
          
      </form>
  

  
  </mat-card>
  
  
  </div>